.clear {
  clear: both;
}
.maindesktop{
  background-image: linear-gradient(to bottom, #fbfb0a, #faf51e, #f8ef2a, #fff);
}
    #pcswiper {
      position: relative;
      width: 100%;
      /*padding-top: 50px;*/
      padding-bottom: 90px;
      cursor: pointer !important;

    }
    #pcswiper-in p a{
     color: red;
  }
    #pcswiper  img{
      width: 100%;
      height: 100%;
    }
    #pcswiper-in {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
      background-color: red !important;

    }

@media screen and (max-width: 900px){
  #deskstore{
    font-size: 30px !important;
  }

@media screen and (max-width: 600px){
  #deskstore{
    font-size: 28px !important;
  }

}
 @media screen and (max-width: 400px){
       #pcswiper-in {
         background-position: center;
         background-size: cover;
         margin-left: 5%;
         margin-right: 5%;
      }
      #deskstor{
        font-size: 25px !important;
      }       

}





